.elementor-281 .elementor-element.elementor-element-a73db2b .service-box {
    padding: 10% 10% 10% 10%;
    background-color: #0B5BE0;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #E4E4E400;
    border-radius: 5px 5px 5px 5px;
}

.elementor-281 .elementor-element.elementor-element-a73db2b .service-box:hover {
    background-color: transparent;
    background-image: linear-gradient(180deg, #0D1131 0%, #0F0E35 100%);
}

.elementor-281 .elementor-element.elementor-element-a73db2b .service-contents {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-281 .elementor-element.elementor-element-a73db2b .style-three .service-dec p {
    color: #FFFFFF;
}

.elementor-281 .elementor-element.elementor-element-a73db2b .style-three:hover .service-dec p {
    color: #FFFFFF;
}

.elementor-281 .elementor-element.elementor-element-a73db2b .service-icon i:before {
    color: #FFFFFF;
    font-size: 90px;
}

.elementor-281 .elementor-element.elementor-element-a73db2b .service-icon i:after {
    background-color: #DDDDDD;
}

.elementor-281 .elementor-element.elementor-element-a73db2b .service-box:hover .service-icon i:before {
    color: #121039;
}

.elementor-281 .elementor-element.elementor-element-a73db2b .service-icon img {
    width: 16%;
}

.elementor-281 .elementor-element.elementor-element-a73db2b .service-icon {
    text-align: left;
}

.elementor-281 .elementor-element.elementor-element-a73db2b .service-titles h3 {
    font-size: 25px;
    text-transform: capitalize;
    text-align: left;
    padding: 0px 0px 0px 0px;
    margin: 30pxpx 0px 20pxpx 0px;
}

.elementor-281 .elementor-element.elementor-element-a73db2b .service-titles h3 a {
    color: #FFFFFF;
}

.elementor-281 .elementor-element.elementor-element-a73db2b .service-box:hover .service-titles a {
    color: #FFFFFF;
}

.elementor-281 .elementor-element.elementor-element-a73db2b .service-title-con i:before {
    color: #FFFFFF;
    font-size: 46px;
}

.elementor-281 .elementor-element.elementor-element-a73db2b .service-box:hover .service-title-con i:before {
    color: #FFFFFF;
}

.elementor-281 .elementor-element.elementor-element-a73db2b .service-title-con {
    margin-right: 9px;
    top: -5px;
}

.elementor-281 .elementor-element.elementor-element-9ef38c3 {
    margin-top: 50px;
    margin-bottom: 80px;
}

.elementor-bc-flex-widget .elementor-281 .elementor-element.elementor-element-175016a.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-281 .elementor-element.elementor-element-175016a.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-281 .elementor-element.elementor-element-175016a > .elementor-element-populated {
    margin: 0px 0px 0px 20px;
}

.elementor-281 .elementor-element.elementor-element-018cd88 .elementor-heading-title {
    color: #0D1131;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.elementor-281 .elementor-element.elementor-element-a1bb584 {
    color: #0D1131;
    font-family: "Roboto", Sans-serif;
    font-size: 54px;
    font-weight: 900;
    line-height: 1.2em;
}

.elementor-281 .elementor-element.elementor-element-59fff2c {
    margin-top: 0px;
    margin-bottom: 10px;
}

.elementor-281 .elementor-element.elementor-element-a79e7af.elementor-view-stacked .elementor-icon {
    background-color: #0B5BE0;
}

.elementor-281 .elementor-element.elementor-element-a79e7af.elementor-view-framed .elementor-icon, .elementor-281 .elementor-element.elementor-element-a79e7af.elementor-view-default .elementor-icon {
    fill: #0B5BE0;
    color: #0B5BE0;
    border-color: #0B5BE0;
}

.elementor-281 .elementor-element.elementor-element-a79e7af.elementor-position-right .elementor-icon-box-icon {
    margin-left: 15px;
}

.elementor-281 .elementor-element.elementor-element-a79e7af.elementor-position-left .elementor-icon-box-icon {
    margin-right: 15px;
}

.elementor-281 .elementor-element.elementor-element-a79e7af.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 15px;
}

.elementor-281 .elementor-element.elementor-element-a79e7af .elementor-icon {
    font-size: 35px;
    padding: 24px;
}

.elementor-281 .elementor-element.elementor-element-a79e7af .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-281 .elementor-element.elementor-element-a79e7af .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-281 .elementor-element.elementor-element-a79e7af .elementor-icon-box-title {
    color: #212529;
}

.elementor-281 .elementor-element.elementor-element-a79e7af .elementor-icon-box-title, .elementor-281 .elementor-element.elementor-element-a79e7af .elementor-icon-box-title a {
    font-family: "Roboto", Sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 0.6em;
}

.elementor-281 .elementor-element.elementor-element-a79e7af .elementor-icon-box-description {
    color: #212529;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    line-height: 1.1em;
}

.elementor-281 .elementor-element.elementor-element-4858c27.elementor-view-stacked .elementor-icon {
    background-color: #0B5BE0;
}

.elementor-281 .elementor-element.elementor-element-4858c27.elementor-view-framed .elementor-icon, .elementor-281 .elementor-element.elementor-element-4858c27.elementor-view-default .elementor-icon {
    fill: #0B5BE0;
    color: #0B5BE0;
    border-color: #0B5BE0;
}

.elementor-281 .elementor-element.elementor-element-4858c27.elementor-position-right .elementor-icon-box-icon {
    margin-left: 15px;
}

.elementor-281 .elementor-element.elementor-element-4858c27.elementor-position-left .elementor-icon-box-icon {
    margin-right: 15px;
}

.elementor-281 .elementor-element.elementor-element-4858c27.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 15px;
}

.elementor-281 .elementor-element.elementor-element-4858c27 .elementor-icon {
    font-size: 35px;
    padding: 24px;
}

.elementor-281 .elementor-element.elementor-element-4858c27 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-281 .elementor-element.elementor-element-4858c27 .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-281 .elementor-element.elementor-element-4858c27 .elementor-icon-box-title {
    color: #212529;
}

.elementor-281 .elementor-element.elementor-element-4858c27 .elementor-icon-box-title, .elementor-281 .elementor-element.elementor-element-4858c27 .elementor-icon-box-title a {
    font-family: "Roboto", Sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 0.6em;
}

.elementor-281 .elementor-element.elementor-element-4858c27 .elementor-icon-box-description {
    color: #212529;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1em;
}

.elementor-281 .elementor-element.elementor-element-d1bc83b {
    margin-top: 20px;
    margin-bottom: 0px;
}

.elementor-281 .elementor-element.elementor-element-3480f03.elementor-view-stacked .elementor-icon {
    background-color: #0B5BE0;
}

.elementor-281 .elementor-element.elementor-element-3480f03.elementor-view-framed .elementor-icon, .elementor-281 .elementor-element.elementor-element-3480f03.elementor-view-default .elementor-icon {
    fill: #0B5BE0;
    color: #0B5BE0;
    border-color: #0B5BE0;
}

.elementor-281 .elementor-element.elementor-element-3480f03.elementor-position-right .elementor-icon-box-icon {
    margin-left: 15px;
}

.elementor-281 .elementor-element.elementor-element-3480f03.elementor-position-left .elementor-icon-box-icon {
    margin-right: 15px;
}

.elementor-281 .elementor-element.elementor-element-3480f03.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 15px;
}

.elementor-281 .elementor-element.elementor-element-3480f03 .elementor-icon {
    font-size: 35px;
    padding: 24px;
}

.elementor-281 .elementor-element.elementor-element-3480f03 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-281 .elementor-element.elementor-element-3480f03 .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-281 .elementor-element.elementor-element-3480f03 .elementor-icon-box-title {
    color: #212529;
}

.elementor-281 .elementor-element.elementor-element-3480f03 .elementor-icon-box-title, .elementor-281 .elementor-element.elementor-element-3480f03 .elementor-icon-box-title a {
    font-family: "Roboto", Sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 0.6em;
}

.elementor-281 .elementor-element.elementor-element-3480f03 .elementor-icon-box-description {
    color: #212529;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    line-height: 1.1em;
}

.elementor-281 .elementor-element.elementor-element-f8b330f.elementor-view-stacked .elementor-icon {
    background-color: #0B5BE0;
}

.elementor-281 .elementor-element.elementor-element-f8b330f.elementor-view-framed .elementor-icon, .elementor-281 .elementor-element.elementor-element-f8b330f.elementor-view-default .elementor-icon {
    fill: #0B5BE0;
    color: #0B5BE0;
    border-color: #0B5BE0;
}

.elementor-281 .elementor-element.elementor-element-f8b330f.elementor-position-right .elementor-icon-box-icon {
    margin-left: 15px;
}

.elementor-281 .elementor-element.elementor-element-f8b330f.elementor-position-left .elementor-icon-box-icon {
    margin-right: 15px;
}

.elementor-281 .elementor-element.elementor-element-f8b330f.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 15px;
}

.elementor-281 .elementor-element.elementor-element-f8b330f .elementor-icon {
    font-size: 35px;
    padding: 24px;
}

.elementor-281 .elementor-element.elementor-element-f8b330f .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-281 .elementor-element.elementor-element-f8b330f .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-281 .elementor-element.elementor-element-f8b330f .elementor-icon-box-title {
    color: #212529;
}

.elementor-281 .elementor-element.elementor-element-f8b330f .elementor-icon-box-title, .elementor-281 .elementor-element.elementor-element-f8b330f .elementor-icon-box-title a {
    font-family: "Roboto", Sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 0.6em;
}

.elementor-281 .elementor-element.elementor-element-f8b330f .elementor-icon-box-description {
    color: #212529;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1em;
}



.elementor-281 .elementor-element.elementor-element-9ecef88 > .elementor-background-overlay {
    background-color: #130502;
    opacity: 0.89;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-281 .elementor-element.elementor-element-9ecef88 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 190px 0px;
}

.elementor-281 .elementor-element.elementor-element-55f9738 .small-title {
    color: #0D1131;
}

.elementor-281 .elementor-element.elementor-element-55f9738 .title-hadding span {
    color: #FFFFFF;
}

.elementor-281 .elementor-element.elementor-element-55f9738 .title-box {
    margin: 0px 0px 0px 0px;
}

.elementor-281 .elementor-element.elementor-element-55f9738 .title-box .intech-theme-buttons a.theme-button {
    padding: 17px 30px 17px 30px;
}

.elementor-281 .elementor-element.elementor-element-55f9738 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-281 .elementor-element.elementor-element-0aa9d93 {
    margin-top: 20px;
    margin-bottom: 0px;
}

.elementor-281 .elementor-element.elementor-element-66717c2 .service-box {
    padding: 10% 10% 10% 10%;
    box-shadow: 0px 0px 10px 0px rgba(177.84375000000003, 167.40509510869566, 167.40509510869566, 0);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E4E4E4;
    border-radius: 5px 5px 5px 5px;
}

.elementor-281 .elementor-element.elementor-element-66717c2 .service-box:hover {
    background-color: #0B5BE038;
}

.elementor-281 .elementor-element.elementor-element-66717c2 .service-contents {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-281 .elementor-element.elementor-element-66717c2 .style-three:hover .service-dec p {
    color: #FFFFFF;
}

.elementor-281 .elementor-element.elementor-element-66717c2 .service-icon i:before {
    color: #3A65FF;
    font-size: 90px;
}

.elementor-281 .elementor-element.elementor-element-66717c2 .service-icon i:after {
    background-color: #DDDDDD;
}

.elementor-281 .elementor-element.elementor-element-66717c2 .service-box:hover .service-icon i:before {
    color: #121039;
}

.elementor-281 .elementor-element.elementor-element-66717c2 .service-icon img {
    width: 16%;
}

.elementor-281 .elementor-element.elementor-element-66717c2 .service-icon {
    text-align: left;
}

.elementor-281 .elementor-element.elementor-element-66717c2 .service-titles h3 {
    font-size: 20px;
    text-transform: capitalize;
    text-align: left;
    padding: 0px 0px 0px 0px;
    margin: 30pxpx 0px 20pxpx 0px;
}

.elementor-281 .elementor-element.elementor-element-66717c2 .service-titles h3 a {
    color: #0D1131;
}

.elementor-281 .elementor-element.elementor-element-66717c2 .service-box:hover .service-titles a {
    color: #FFFFFF;
}

.elementor-281 .elementor-element.elementor-element-66717c2 .service-title-con i:before {
    color: #3A65FF;
    font-size: 37px;
}

.elementor-281 .elementor-element.elementor-element-66717c2 .service-box:hover .service-title-con i:before {
    color: #FFFFFF;
}

.elementor-281 .elementor-element.elementor-element-66717c2 .service-title-con {
    margin-right: 15px;
    top: 1px;
}

.elementor-281 .elementor-element.elementor-element-2b565d9 .service-box {
    padding: 10% 10% 10% 10%;
    box-shadow: 0px 0px 10px 0px rgba(177.84375000000003, 167.40509510869566, 167.40509510869566, 0);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E4E4E4;
    border-radius: 5px 5px 5px 5px;
}

.elementor-281 .elementor-element.elementor-element-2b565d9 .service-box:hover {
    background-color: #0B5BE038;
}

.elementor-281 .elementor-element.elementor-element-2b565d9 .service-contents {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-281 .elementor-element.elementor-element-2b565d9 .style-three:hover .service-dec p {
    color: #FFFFFF;
}

.elementor-281 .elementor-element.elementor-element-2b565d9 .service-icon i:before {
    color: #3A65FF;
    font-size: 90px;
}

.elementor-281 .elementor-element.elementor-element-2b565d9 .service-icon i:after {
    background-color: #DDDDDD;
}

.elementor-281 .elementor-element.elementor-element-2b565d9 .service-box:hover .service-icon i:before {
    color: #121039;
}

.elementor-281 .elementor-element.elementor-element-2b565d9 .service-icon img {
    width: 16%;
}

.elementor-281 .elementor-element.elementor-element-2b565d9 .service-icon {
    text-align: left;
}

.elementor-281 .elementor-element.elementor-element-2b565d9 .service-titles h3 {
    font-size: 20px;
    text-transform: capitalize;
    text-align: left;
    padding: 0px 0px 0px 0px;
    margin: 30pxpx 0px 20pxpx 0px;
}

.elementor-281 .elementor-element.elementor-element-2b565d9 .service-titles h3 a {
    color: #0D1131;
}

.elementor-281 .elementor-element.elementor-element-2b565d9 .service-box:hover .service-titles a {
    color: #FFFFFF;
}

.elementor-281 .elementor-element.elementor-element-2b565d9 .service-title-con i:before {
    color: #3A65FF;
    font-size: 43px;
}

.elementor-281 .elementor-element.elementor-element-2b565d9 .service-box:hover .service-title-con i:before {
    color: #FFFFFF;
}

.elementor-281 .elementor-element.elementor-element-2b565d9 .service-title-con {
    margin-right: 15px;
    top: 1px;
}

.elementor-281 .elementor-element.elementor-element-0601d25 .service-box {
    padding: 10% 10% 10% 10%;
    box-shadow: 0px 0px 10px 0px rgba(177.84375000000003, 167.40509510869566, 167.40509510869566, 0);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E4E4E4;
    border-radius: 5px 5px 5px 5px;
}

.elementor-281 .elementor-element.elementor-element-0601d25 .service-box:hover {
    background-color: #0B5BE038;
}

.elementor-281 .elementor-element.elementor-element-0601d25 .service-contents {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-281 .elementor-element.elementor-element-0601d25 .style-three:hover .service-dec p {
    color: #FFFFFF;
}

.elementor-281 .elementor-element.elementor-element-0601d25 .service-icon i:before {
    color: #3A65FF;
    font-size: 90px;
}

.elementor-281 .elementor-element.elementor-element-0601d25 .service-icon i:after {
    background-color: #DDDDDD;
}

.elementor-281 .elementor-element.elementor-element-0601d25 .service-box:hover .service-icon i:before {
    color: #121039;
}

.elementor-281 .elementor-element.elementor-element-0601d25 .service-icon img {
    width: 16%;
}

.elementor-281 .elementor-element.elementor-element-0601d25 .service-icon {
    text-align: left;
}

.elementor-281 .elementor-element.elementor-element-0601d25 .service-titles h3 {
    font-size: 20px;
    text-transform: capitalize;
    text-align: left;
    padding: 0px 0px 0px 0px;
    margin: 30pxpx 0px 20pxpx 0px;
}

.elementor-281 .elementor-element.elementor-element-0601d25 .service-titles h3 a {
    color: #0D1131;
}

.elementor-281 .elementor-element.elementor-element-0601d25 .service-box:hover .service-titles a {
    color: #FFFFFF;
}

.elementor-281 .elementor-element.elementor-element-0601d25 .service-title-con i:before {
    color: #3A65FF;
    font-size: 37px;
}

.elementor-281 .elementor-element.elementor-element-0601d25 .service-box:hover .service-title-con i:before {
    color: #FFFFFF;
}

.elementor-281 .elementor-element.elementor-element-0601d25 .service-title-con {
    margin-right: 15px;
    top: 1px;
}

.elementor-281 .elementor-element.elementor-element-9c66ff3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-281 .elementor-element.elementor-element-de1dd09 .service-box {
    padding: 10% 10% 10% 10%;
    box-shadow: 0px 0px 10px 0px rgba(177.84375000000003, 167.40509510869566, 167.40509510869566, 0);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E4E4E4;
    border-radius: 5px 5px 5px 5px;
}

.elementor-281 .elementor-element.elementor-element-de1dd09 .service-box:hover {
    background-color: #0B5BE038;
}

.elementor-281 .elementor-element.elementor-element-de1dd09 .service-contents {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-281 .elementor-element.elementor-element-de1dd09 .style-three:hover .service-dec p {
    color: #FFFFFF;
}

.elementor-281 .elementor-element.elementor-element-de1dd09 .service-icon i:before {
    color: #3A65FF;
    font-size: 90px;
}

.elementor-281 .elementor-element.elementor-element-de1dd09 .service-icon i:after {
    background-color: #DDDDDD;
}

.elementor-281 .elementor-element.elementor-element-de1dd09 .service-box:hover .service-icon i:before {
    color: #121039;
}

.elementor-281 .elementor-element.elementor-element-de1dd09 .service-icon img {
    width: 16%;
}

.elementor-281 .elementor-element.elementor-element-de1dd09 .service-icon {
    text-align: left;
}

.elementor-281 .elementor-element.elementor-element-de1dd09 .service-titles h3 {
    font-size: 20px;
    text-transform: capitalize;
    text-align: left;
    padding: 0px 0px 0px 0px;
    margin: 30pxpx 0px 20pxpx 0px;
}

.elementor-281 .elementor-element.elementor-element-de1dd09 .service-titles h3 a {
    color: #0D1131;
}

.elementor-281 .elementor-element.elementor-element-de1dd09 .service-box:hover .service-titles a {
    color: #FFFFFF;
}

.elementor-281 .elementor-element.elementor-element-de1dd09 .service-title-con i:before {
    color: #3A65FF;
    font-size: 37px;
}

.elementor-281 .elementor-element.elementor-element-de1dd09 .service-box:hover .service-title-con i:before {
    color: #FFFFFF;
}

.elementor-281 .elementor-element.elementor-element-de1dd09 .service-title-con {
    margin-right: 15px;
    top: 1px;
}

.elementor-281 .elementor-element.elementor-element-6eb8ffe .service-box {
    padding: 10% 10% 10% 10%;
    box-shadow: 0px 0px 10px 0px rgba(177.84375000000003, 167.40509510869566, 167.40509510869566, 0);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E4E4E4;
    border-radius: 5px 5px 5px 5px;
}

.elementor-281 .elementor-element.elementor-element-6eb8ffe .service-box:hover {
    background-color: #0B5BE038;
}

.elementor-281 .elementor-element.elementor-element-6eb8ffe .service-contents {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-281 .elementor-element.elementor-element-6eb8ffe .style-three:hover .service-dec p {
    color: #FFFFFF;
}

.elementor-281 .elementor-element.elementor-element-6eb8ffe .service-icon i:before {
    color: #3A65FF;
    font-size: 90px;
}

.elementor-281 .elementor-element.elementor-element-6eb8ffe .service-icon i:after {
    background-color: #DDDDDD;
}

.elementor-281 .elementor-element.elementor-element-6eb8ffe .service-box:hover .service-icon i:before {
    color: #121039;
}

.elementor-281 .elementor-element.elementor-element-6eb8ffe .service-icon img {
    width: 16%;
}

.elementor-281 .elementor-element.elementor-element-6eb8ffe .service-icon {
    text-align: left;
}

.elementor-281 .elementor-element.elementor-element-6eb8ffe .service-titles h3 {
    font-size: 20px;
    text-transform: capitalize;
    text-align: left;
    padding: 0px 0px 0px 0px;
    margin: 30pxpx 0px 20pxpx 0px;
}

.elementor-281 .elementor-element.elementor-element-6eb8ffe .service-titles h3 a {
    color: #0D1131;
}

.elementor-281 .elementor-element.elementor-element-6eb8ffe .service-box:hover .service-titles a {
    color: #FFFFFF;
}

.elementor-281 .elementor-element.elementor-element-6eb8ffe .service-title-con i:before {
    color: #3A65FF;
    font-size: 43px;
}
.flex-prev.flex-direction-nav {
display:none;
}

